@import '@common/global.scss';

.order-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.order-type-select-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.order-type-select-list-item {
	position: relative;
	color: #1a1a1a;
	font-weight: 700;
	width: 100%;
	text-align: center;

	& + & {
		&::before {
			content: '';
			position: absolute;
			border-left: 1px solid $borderColor;
			height: 100%;
		}
	}

	.dark-theme & + & {
		&::before {
			border-left: 1px solid $darkModeBorderColor;
		}
	}
}

.order-type-select-list-btn {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	padding: 20px 0;
	cursor: pointer;
	font-weight: 700;

	.dark-theme & {
		color: $white2;
	}
}

.order-type-bid {
	&.on {
		border-bottom: 4px solid $red;

		& .order-type-select-list-btn {
			color: $red;
		}
	}

	.dark-theme & {
		&.on {
			border-bottom: 4px solid $darkModeRed;

			& .order-type-select-list-btn {
				color: $darkModeRed;
			}
		}
	}
}

.order-type-ask {
	&.on {
		border-bottom: 4px solid $blue;

		& .order-type-select-list-btn {
			color: $blue;
		}
	}

	.dark-theme & {
		&.on {
			border-bottom: 4px solid $darkModeLightBlue;

			& .order-type-select-list-btn {
				color: $darkModeLightBlue;
			}
		}
	}
}

.order-info-container {
	border-top: 1px solid $borderColor;
	padding: 30px 16px 16px;
	height: 65%;

	.dark-theme & {
		border-top: 1px solid $darkModeBorderColor;
	}

	@media screen and (max-width: $responsiveSize2) {
		font-size: 14px;
	}
}

.order-info-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.order-info-list-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	height: 46px;
}

.order-stock-code {
	font-weight: 700;
}

.order-info-price {
	font-weight: 700;
}

.order-info-won-text {
	font-size: 12px;
	margin-left: 2px;
}

.order-info-text {
	font-size: 13px;
	color: $darkBlue;
	font-weight: 700;

	.dark-theme & {
		color: $gray;
	}
}

.order-info-text-input {
	border: 1px solid $borderColor;
	border-radius: 4px;
	padding: 8px;
	text-align: left;

	&.error:not(:focus) {
		border: 1px solid $red;
		outline: 1px solid $red;
	}

	.dark-theme & {
		background-color: $darkGray;
		border: 1px solid $darkModeBorderColor;
		color: $white2;

		&.error:not(:focus) {
			border: 1px solid $darkModeRed;
			outline: 1px solid $darkModeRed;
		}
	}
}

.order-error-notice {
	display: flex;
	position: absolute;
	bottom: -14px;
	right: 108px;
	color: $red;

	.dark-theme & {
		color: $darkModeRed;
	}
}

.order-total-price-container {
	display: flex;
	align-items: center;
	max-width: 80%;
}

.order-total-price {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.order-action-container {
	display: flex;
	justify-content: space-between;
	padding: 0 14px;

	@media screen and (max-width: $responsiveSize2) {
		font-size: 14px;
	}
}

.order-reset-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	font-weight: 700;
	width: 25%;
	height: 40px;
	background-color: #95959e;
	border: none;
	outline: none;
	cursor: pointer;

	.dark-theme & {
		background-color: #76767c;
	}
}

.order-action-btn {
	color: $white;
	font-weight: 700;
	width: 65%;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;

	&:disabled {
		background-color: #999999;
		cursor: not-allowed;
	}

	.dark-theme & {
		&:disabled {
			background-color: #5f5f5f;
		}
	}

	@media screen and (max-width: $responsiveSize2) {
		width: 60%;
	}
}

.order-action-reset-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1px;
	margin-right: 3px;

	& > svg > path {
		stroke: $white;
	}
}

.bid-action {
	background-color: $red;

	.dark-theme & {
		background-color: $darkModeRed;
	}
}

.ask-action {
	background-color: $blue;

	.dark-theme & {
		background-color: $darkModeLightBlue;
	}
}

.signin-action {
	background-color: $primary;

	.dark-theme & {
		background-color: $primary2;
	}
}
